.git
.github
.venv
venv
env
__pycache__
*.py[cod]
.DS_Store

Data
Database
Notebooks
Archive
Bitacora
output
lib

dspace-src
dspace-angular
dspace-local-dev

Docs/reports/*.pdf
Docs/reports/*.aux
Docs/reports/*.out
Docs/reports/*.toc
Docs/reports/*.fdb_latexmk
Docs/reports/*.fls

node_modules
emails/node_modules
